*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    min-height: 10vh;
    background-color: #d88577;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-text{
    font-family: 'Anton', sans-serif;
}
input[type=text]{
    width: 75%;
    display: block;
    margin: 2rem;
}