*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    min-height: 10vh;
    background-color: #d88577;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-text{
    font-family: 'Anton', sans-serif;
}
input[type=text]{
    width: 75%;
    margin: 2rem;
    height: 1.5rem;
}
input[type=submit]{
    width: 10%;
    border-radius: 40px;
    background: transparent;
    height: 1.3rem;
}
input[type=submit]:hover{
    background-color: #d88577;
}